.ProjectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProjectCardImage {
  object-fit: contain;
}

.ProjectCardDescription {
  font-family: "Noto Serif";
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  max-width: 675px;
  text-align: center;
  margin-top: 20px;
}
