.Label {
  height: 45px;
  width: 150px;
  background-color: #000000;
  border-radius: 20px 20px 0 0;
  color: #ffffff;
  font-family: "Noto Serif";
  font-size: 20px;
  border: none;
  cursor: pointer;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Label:hover {
  height: 50px;
}
