.ListItemThree {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 800px;
  color: #ffffff;
  font-family: "Noto Serif";
}

.ListItemThreeDate {
  font-size: 20px;
  font-weight: 400;
  width: 170px;
}

.ListItemThreeDescription {
  font-size: 14px;
  font-weight: 600;
  width: 240px;
}

.ListItemThreeLocation {
  font-size: 14px;
  font-weight: 400;
  width: 240px;
}
