.AboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  height: 650px;
}

.AboutSectionButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin: 65px 0;
}
