.Button {
  width: 150px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-family: "Noto Serif";
  font-size: 14px;
}

.Button:hover {
  background-color: #cfcdcd;
}

.Button.true {
  font-weight: 600;
}
